.section-fieldtype {

    @include toolbar;
    margin: 0px -15px 15px -15px !important;
    flex-basis: 110% !important;
    padding: 30px 0 15px 30px !important;
    border-top: 1px solid $border;

    &:first-of-type {
        margin: -15px -15px 25px -15px !important;
        border-top: none;
    }

  &.form-group {
    position: relative;
    padding-top: 45px;
    margin: 30px 0 45px;
  }

  label {
    text-transform: uppercase;
    font-family: $font_montserrat;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.editing-layout {

  .publish-fields > .section-fieldtype,
  .section-fieldtype {
    &.form-group {
      padding-top: 15px;
      margin: 0;
    }

    .border {
      display: none;
    }
  }

}
