<div class="form-group minor">
    <label class="block">{{ translate_choice('cp.locales', 2) }}</label>
    <div class="btn-group" v-if="ready">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ activeLocale.label }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li v-for="locale in locales">
                <a href="#" @click.prevent="select(locale)">
                    <i v-if="locale.has_content" :class="classes(locale)"></i>
                    {{ locale.label }}
                </a>
            </li>
        </ul>
    </div>
</div>
